.arrow-container {
  /* Arrow & Hover Animation */
  #more-arrows {
    max-width: 5.8em;

    &:hover {

      polygon {
        fill: #FFF;
        transition: all .2s ease-out;

        &.arrow-bottom {
          transform: translateY(-18px);
        }

        &.arrow-top {
          transform: translateY(18px);
        }
      }
    }

    polygon {
      fill: #FFF;
      transition: all .2s ease-out;

      &.arrow-middle {
        opacity: 0.75;
      }

      &.arrow-top {
        opacity: 0.5
      }

    }
  }

  .cv-scroll-arrow {
    padding-top: 0;
    margin: auto;
    width: 50%;
  }
}
