.awesome-icons-small {
   font-size: 1.6em;
  margin-top: 5%;
 }

.awesome-icons-medium {
  font-size: 2.5em;
}

.icon-margin-right {
  margin-right: 0.3em;
}

.icon-margin-left {
  margin-left: 1em;
}

.raspberry-pi-icon {
  font-size: 2.2em;
  color: white;
}
